.sidebar {
    position: sticky;
    left: 0;
    background-color: #FFF;
    height: 100vh;
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.sidebar__toggle {
    display: none;
}

.sidebar__brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sidebar__links {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar__logout {
    /* padding: 0.3rem 0rem; */
    border-radius: 0.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
}

.sidebar__logout:hover {
    background-color: #DA0037;
}

/* Components */
.sidebar__icon {
    width: 35px;
    height: 35px;
}

span {
    font-size: 1rem;
    color: #000;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ul li {
    padding: 0.6rem;
} */

.sidebar__link {
    padding: .6rem;
}

.sidebar__link:hover {
    background-color: #eff2f9;
    color: #FFF;
}

.sidebar__link li {
    display: flex;
    align-items: center;
    gap: .6rem;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #000;
}

.active {
    color: red;
}

/* Media Queries */

@media screen and (min-width: 280px) and (max-width: 1080px) {
    .sidebar {
        display: none;
    }
}

/* NAVBAR */
