.sidebar {
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: #FFF;
    min-height: 100vh;
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem .4rem;
    gap: 2rem;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.sidebar__toggle {
    display: none;
}

.sidebar__brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sidebar__links {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar__logout {
    padding: 0.3rem 1.4rem;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2BBBAD;
    text-align: center;
    letter-spacing: .5px;
    transition: opacity .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.sidebar__logout .logout {
    color: #FFF;
}

.sidebar__logout:hover {
    opacity: .9;
}

/* Components */
.sidebar__icon {
    width: 35px;
    height: 35px;
}

span {
    font-size: 1rem;
    color: #000;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ul li {
    padding: 0.6rem;
} */

.sidebar__link {
    padding: .6rem;
}

.sidebar__link:hover {
    background-color: #eff2f9;
    color: #FFF;
}

.sidebar__link li {
    display: flex;
    align-items: center;
    gap: .6rem;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #000;
}

.active {
    color: #2BBBAD;
}

/* Media Queries */

@media screen and (min-width: 280px) and (max-width: 1080px) {
    .sidebar {
        display: none;
    }
}

/* NAVBAR */
