.dashboard {
    width: 100%;
    min-height: 60vh;
    padding: 2rem 0;
    margin: 2rem auto;
    border-radius: 7px;
    background: #FFF;
    box-shadow:  5px 5px 10px #cacaca,
             -5px -5px 10px #f6f6f6;
}

.dashboard__container {
    width: 98%;
    margin: 0 auto;
}

